body{
	background-color: #e1e1e1;
}
h2{
	color: brown;
}
.box{
	width: 450px;
	border-radius:px;
	gap: 3px;
}
fieldset{
	height: 300px;
}
input[ type="text"]{
width: 300px;
}
.mainn{
	background: burlywood;
}